.project-card {
  max-width: 600px;
  border-style: outset;
  border-color: maroon;
  border-radius: 10px;

}

.project-title, .project-title-re {
	color:#470000;
  margin-top: auto;
  margin-bottom:8px;
}

.project-title-re{
  margin-top: 20px;
}
.project-description {
  padding: 5px;
  font-size: large;
  background-color: rgb(81, 94, 107);
  border-style: solid;
  border-color: lightslategrey;
  border-width: 2px;
  border-radius: 10px;
}

.project-links {
  margin: 1px 1px 1px 1px;
  font-size: medium;
}

.pCard-thumbnail {
  height: 200px;
  border-radius: 10px;
}