.project-card {
  width: auto;
  max-width: 600px;
  border-style: outset;
  border-color: maroon;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-title, .project-title-re {
	color:#470000;
  margin-top: auto;
  margin-bottom:8px;
}

.project-title-re{
  margin-top: 20px;
}
.project-description {
  margin: 4px;
  padding: 5px;
  font-size: large;
  background-color: rgb(81, 94, 107);
  border-style: solid;
  border-color: lightslategrey;
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  text-align: center;
}

.project-links {
  margin: 1px 1px 1px 1px;
  font-size: medium;
}

.pCard-thumbnail {
  height: 200px;
  width: fit-content;
  border-radius: 10px;
}
.pCard-thumbnail-gkyWeather {
  padding: 0 4px;
  width: 98%;
  height: auto;
  border-radius: 10px;
}