.about-me-card {
  max-width: 600px;
  min-width: 275px;
  padding: 3px;
  font-size: large;
  background-color: rgb(81, 94, 107);;
  border-style: solid;
  border-color: lightslategrey;
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}