.about-me-card {
  width: 600px;
  padding: 3px;
  font-size: large;
  background-color: rgb(81, 94, 107);;
  border-style: solid;
  border-color: lightslategrey;
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}