body {
  text-align: center;
  background-color: #7c7c7c;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
}

p {
  width: 600px;
  font-size: large;
  background-color: slategrey;
  border-radius: 10px;
}

a:link, a:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: (internal value);
}

h3 {
  color: chartreuse;
}