body {
  text-align: center;
  background-color: #ddede6;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a:link, a:visited {
  color: (rebeccapurple);
  text-decoration: none;
  cursor:pointer;
}

a:link:active, a:visited:active {
  color: (rebeccapurple);
}

h1 {
  color: darkolivegreen;
}

h3 {
  color:rgb(117, 152, 0);
}

.nav-bar{
  display: flex;
  justify-content: space-evenly;
}

a{
  margin: 5px;
}