.project-card {
  max-width: 600px;
  border-style: outset;
  border-color: maroon;
  border-radius: 10px;

}

.project-title{
	color:rgb(117, 190, 117);
}

.project-description {
  padding: 3px;
  font-size: large;
  background-color: slategrey;
  border-style: solid;
  border-color: lightslategrey;
  border-width: 2px;
  border-radius: 10px;
}

.project-links {
  margin: 1px 1px 1px 1px;
  font-size: medium;
}

.lil-butler-thumbnail{
  height: 200px;
}