.project-card {
  max-width: 600px;
  border-style: outset;
  border-color: maroon;
  border-radius: 10px;

}

.project-title{
	color:#470000;
}

.project-description {
  padding: 5px;
  font-size: large;
  background-color: rgb(81, 94, 107);
  border-style: solid;
  border-color: lightslategrey;
  border-width: 2px;
  border-radius: 10px;
}

.project-links {
  margin: 1px 1px 1px 1px;
  font-size: medium;
}

.pCard-thumbnail {
  height: 200px;
  border-radius: 10px;
}